.pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px 5px;
  border: 1px solid #ccc;
  max-width: 200px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  text-decoration: none;
}
