.colorBox {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
