.shape {
  margin: 20px;
  border: 2px solid #000;
  cursor: pointer;
}

.rectangle {
  width: 200px;
  height: 100px;
}

.square {
  height: 100px;
  width: 100px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(15deg);
}
