:root {
    --first-row-height: -0.938rem;
    --second-row-height: -14rem;
  }

  .guessWho {
    max-width: 22.563rem;
    margin: 0 auto;
  }

  .board {
    display: flex;
    flex-wrap: wrap;
  }

  /* 1rem = 16px*/
  .character,
  #selected {
    background-color: aquamarine;
    height: 11.25rem;
    width: 6.25rem;
    margin: 0.625rem;
    background: url("allCharacters.jpg");
    cursor: pointer;
  }

  #selected{
      margin: 30px auto;
  }

  .character:nth-child(1) {
    background-position: -15px var(--first-row-height);
  }
  .character:nth-child(2) {
    background-position: -139px var(--first-row-height);
  }
  .character:nth-child(3) {
    background-position: -260px var(--first-row-height);
  }
  .character:nth-child(4) {
    background-position: -386px var(--first-row-height);
  }
  .character:nth-child(5) {
    background-position: -508px var(--first-row-height);
  }
  .character:nth-child(6) {
    background-position: -20px var(--second-row-height);
  }
  .character:nth-child(7) {
    background-position: -137px var(--second-row-height);
  }
  .character:nth-child(8) {
    background-position: -262px var(--second-row-height);
  }
  .character:nth-child(9) {
    background-position: -386px var(--second-row-height);
  }

  .hide{
      background: violet;
  }
  